@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
}
body {
    font-family: 'Cabin';
    background-color: #758190;
    margin: 0;
}


#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    width: 100%;
}
.stats-container > *:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}
.stats-containers{
    /* background-color: rgba(173, 216, 230, 0.48); */
    /* border-radius: 7px; */
    
    padding: 1%;    
    margin: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    
}



.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;

    padding-block: 2%;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

#button-container >*:hover{
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-block:2%;
    gap: 1rem;
    
}




/* Navbar */
.navbar{
    background-color: rgb(120, 152, 162);
    overflow: hidden;
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
    margin-block: 1%;
}


.navbar li a {
    display: block;
    color: black;
    
}

/* Search bar */
#search-input {
    width: 50%;
    padding: 1%;
    border-radius: 7px;
    border:none;
    align-self: center;
}

/* Mobile Adjustments */
@media (max-width: 600px) {
    
    .stats-container {
        flex-direction: column;
        align-items: center;
    }
    .stats-card {
        width: 80%;
    }
    .game-card {
        width: 80%;
    }
    #games-container {
        justify-content: center;
        gap: 1rem;
    }
    #search-input {
        width: 80%;
        padding: 1.5rem 1rem;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-block: 4%;
    }

    .header {
        flex-direction: column;
        padding-top: 2rem;
    }
    #tentacles {
        width: 30%;
    }
    #about{
        padding-inline: 2rem;
    }
}